<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% block body %}
    {% endblock %}
    {% block paginator %}
    <div class="pagination">
    <span class="step-links">
        {% if paginator.has_previous %}
            <a href="{% url 'departments_url_pag' paginator.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">

        </span>
        <span class="all">
            {% for i in paginator.num_pages %}
                <a href="{% url 'departments_url_pag' i %}">{{i}}</a>
            {% endfor %}
        </span>

        {% if paginator.has_next %}
            <a href="{% url 'departments_url_pag' paginator.next_page_number %}">next</a>
        {% endif %}
    </span>
    </div>
    {% endblock %}
</body>
</html>